@charset "UTF-8";
/* /!Шрифты!/ */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap");
/* /!Обнуление!/ */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 24px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Rubik;
  font-size: 12px;
  color: #616161;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* /!Селекторы!/ */
[class*=__container] {
  max-width: 1087px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1087px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}
.header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #f4f4f4;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 114px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 252px;
          flex: 0 0 252px;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin: 0 40px 0 0;
}

.menu__link {
  font-family: "Raleway";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  color: black;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.menu__link:hover {
  color: #4285F4;
  letter-spacing: 3px;
}

.text-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 400px;
}
@media (max-width: 800px) {
  .text-block {
    max-width: 300px;
  }
}

.text-block__title {
  font-weight: 700;
  font-size: 44px;
  color: black;
  padding: 0px 0px 20px 0;
  line-height: 126%;
}
.text-block__title span {
  color: #4285F4;
}
@media (max-width: 630px) {
  .text-block__title {
    font-size: 38px;
  }
}

.text-block__subtitle {
  padding: 0px 0px 20px 0;
  line-height: 138.5%;
  font-size: 12px;
  letter-spacing: 8%;
}

.text-block__button {
  font-size: 10px;
  font-weight: 750;
}

.get-started {
  background-color: #f4f4f4;
}

.get-started__container {
  padding: 150px 15px 50px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.get-started__container ::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  right: 0;
  top: 0;
  margin-right: 252px;
  background-color: #EC5863;
  border-radius: 30px 0 0 30px;
  -webkit-transform: translate(100%, 0px);
          transform: translate(100%, 0px);
  z-index: -1;
}
@media (max-width: 768px) {
  .get-started__container ::before {
    margin-right: 102px;
  }
}
@media (max-width: 630px) {
  .get-started__container ::before {
    display: none;
  }
}

.get-started__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  padding: 0 0 0 20px;
}

.get-started__image {
  z-index: 4;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 52%;
          flex: 0 1 52%;
}
.get-started__image img {
  max-width: 100%;
}
@media (max-width: 630px) {
  .get-started__image {
    display: none;
  }
}

.get-started__player {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 0 0 20px 0;
  margin-top: 63.782px;
}

.player-get-started {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.get-started-player__text {
  padding: 8px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stay-safe__title {
  margin: 0 0 5px 0;
  color: #afafaf;
  line-height: 126%;
  letter-spacing: 8%;
}

.stay-safe__subtitle {
  color: black;
  line-height: 126%;
  letter-spacing: 16.5%;
}

.button {
  display: inline-block;
  font-family: Raleway;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #FCFDFE;
  padding: 14px 30px;
  border-radius: 5px;
  background-color: #EC5863;
  -webkit-transition: background-color 0.1s ease 0s;
  transition: background-color 0.1s ease 0s;
}
.button:hover {
  background-color: #f56d76;
}

.button__blue {
  background-color: #4285F4;
}
.button__blue:hover {
  background-color: #6ba3ff;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: rgb(0, 0, 0);
  position: absolute;
  height: 4px;
  width: 30px;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  right: 10px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

header #menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

@media (max-width: 991.98px) {
  .header__container {
    min-height: 80px;
  }
  .header__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 170px;
            flex: 0 0 170px;
  }
  .menu__item {
    margin: 0 30px 0 0;
  }
}
@media (max-width: 768px) {
  .menu__link {
    color: #000000;
    font-size: 16px;
    margin-top: 20px;
  }
  .get-started__container {
    padding-top: 60px;
  }
  .get-started__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
    padding: 0 40px;
  }
}
@media (max-width: 768px) and (max-width: 600px) {
  .get-started__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (max-width: 768px) {
  .get-started__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }
  .get-started__image ::before {
    content: "";
    display: none;
    position: absolute;
    width: 100vw;
    height: 100%;
    right: 100;
    top: 0;
    margin-right: 12px;
    background-color: #EC5863;
    border-radius: 30px 0 0 30px;
    -webkit-transform: translate(100%, 0px);
            transform: translate(100%, 0px);
    z-index: -1;
  }
}
@media (max-width: 768px) {
  .menu-button-container {
    display: block;
    position: absolute;
    right: 0px;
    top: -10px;
  }
}
@media (max-width: 768px) {
  .menu {
    position: absolute;
    top: 0;
    margin-top: 40px;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 768px) {
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}
@media (max-width: 768px) {
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #f4f4f4;
    height: 6.5em;
    padding: 0.5em;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}
@media (max-width: 768px) {
  .menu > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #f4f4f4;
  }
}
@media (max-width: 768px) {
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
@media (max-width: 420px) {
  .header__logo {
    max-width: 4px;
  }
  .get-started {
    padding-top: 60px;
  }
  .text-block__title {
    font-size: 34px;
  }
  .text-block__subtitle {
    font-size: 12px;
  }
  .player-get-started {
    position: absolute;
    left: 20;
  }
  .get-started__container {
    padding-top: 10px;
  }
}
.stay-safe {
  padding: 80px 0px 105px 0px;
}

.stay-safe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 48px;
}
@media (max-width: 600px) {
  .stay-safe__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.stay-safe__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 768px) {
  .stay-safe__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }
}
@media (max-width: 768px) {
  .stay-safe__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 10%;
            flex: 0 1 10%;
  }
}
@media (max-width: 600px) {
  .stay-safe__image {
    margin-bottom: 40px;
  }
}

.stay-safe-content__text {
  max-width: 379px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 768px) {
  .stay-safe-content__text {
    padding: 0 20px;
  }
}

.safe__title {
  margin: 0 0 10px 0;
  color: #000000;
  line-height: 126%;
  font-size: 44px;
  font-weight: 700;
}
.safe__title span {
  color: #EC5863;
}
@media (max-width: 768px) {
  .safe__title {
    font-size: 34px;
  }
}

.safe__subtitle {
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 8%;
  color: #616161;
  margin: 0 0 20px 0;
}

.experts {
  padding: 53px 0 116px 0;
  background-color: #f4f4f4;
}

.stats-experts {
  max-width: 655px;
  margin: 0 auto;
  position: relative;
}

.stats-experts__block {
  position: relative;
  margin: 60px 0 140px 0;
}

.block-stats-experts {
  z-index: 30;
  border-radius: 16px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
          box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  height: 117px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (max-width: 408px) {
  .block-stats-experts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 320px;
    width: 200px;
    margin: 0 auto;
  }
}

.block-stats-experts__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.14em;
  color: #EC5863;
}

.block-stats-experts__subtitle {
  letter-spacing: 0.37em;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.block-stats-cubes {
  position: absolute;
  z-index: 20;
  -webkit-transform: translate(-30px, -300px);
          transform: translate(-30px, -300px);
}
@media (max-width: 600px) {
  .block-stats-cubes {
    width: 50%;
    height: 50%;
  }
}

.expert-content__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: auto;
  padding-left: 40px;
}
@media (max-width: 600px) {
  .expert-content__text {
    padding-left: 0px;
  }
}

.expert-block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 284px;
}
@media (max-width: 600px) {
  .expert-block2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 484px;
    text-align: center;
  }
}
@media (max-width: 400px) {
  .expert-block2 {
    margin-top: 70px;
  }
}

.experts__player {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 0 0 0;
  position: relative;
}
.experts__player iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.healthcare {
  padding: 150px 0 100px 0;
}
@media (max-width: 650px) {
  .healthcare {
    padding: 85px 0 50px 0;
  }
}

.healthcare-content__text {
  text-align: center;
  margin: 0 0 120px 0;
}
.healthcare-content__text span {
  color: #EC5863;
}
@media (max-width: 650px) {
  .healthcare-content__text {
    margin: 0 0 60px 0;
  }
}

.healthcare__subtitle {
  max-width: 600px;
  margin: 0 auto;
}

.healthcare__collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}
@media (max-width: 800px) {
  .healthcare__collection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50vw;
    margin: 0 auto;
  }
}

.block-healthcare {
  background-color: white;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26%;
          flex: 0 1 26%;
  padding: 35px;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.block-healthcare:hover {
  border-radius: 24px;
}
@media (max-width: 800px) {
  .block-healthcare {
    margin: 20px 0px;
  }
  .block-healthcare:nth-child(3) {
    margin: 0px 0px;
  }
}
.block-healthcare__image {
  margin: 0 0 65px 0px;
}
@media (max-width: 630px) {
  .block-healthcare__image {
    margin: 0 0 15px 0px;
  }
}

.block-healthcare__title {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #000000;
  padding: 0 5px;
}

.block-healthcare__subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #616161;
  margin-bottom: 50px;
  padding: 0 10px;
  margin: 0 auto;
}
@media (max-width: 630px) {
  .block-healthcare__subtitle {
    display: none;
  }
}

.healthcare-cubes {
  position: absolute;
  z-index: -20;
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
}
@media (max-width: 600px) {
  .healthcare-cubes {
    display: none;
  }
}

.healthcare-links {
  margin-top: 75px;
}

.healthcare-links__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 500px) {
  .healthcare-links__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.block-links {
  margin: 0 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.block-links:hover {
  border-radius: 90px;
}